<nav class="navbar-light bg-nav-color">
    <p class="nav-title-color" style="line-height: 35px;">Fax</p>
</nav>
<div class="container box">
    <div class="d-flex justify-content-end">
        <div class="row">

            <div class="p-2 bd-highlight">
                <a [routerLink]="['/home']">
                    <button class="simple-button" type="submit" style=""><i class="fas fa-home"></i>
                        &nbsp;
                        Home</button>
                </a>
            </div>

            <div class="p-2 bd-highlight"><button class="simple-button" type="submit"><i class="fas fa-redo"></i> &nbsp;
                    Bring Back</button></div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">

            <!-- contact Dialpad -->
            <div class="row">
                <div class="row1" style="background: aliceblue; max-width: 400px;">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="output" class="tel"></div>
                        <div class="num-pad" style="width: 310px;">
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        2 <span class="small">
                                            <p>
                                                ABC</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        3 <span class="small">
                                            <p>
                                                DEF</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        4 <span class="small">
                                            <p>
                                                GHI</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        5 <span class="small">
                                            <p>
                                                JKL</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        6 <span class="small">
                                            <p>
                                                MNO</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        7 <span class="small">
                                            <p>
                                                PQRS</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        8 <span class="small">
                                            <p>
                                                TUV</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        9 <span class="small">
                                            <p>
                                                WXYZ</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num cancel">
                                    <div class="txt">
                                        C<span class="small">
                                            <p>
                                                Cancel</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        0 <span class="small">
                                            <p>
                                                +</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="delete">
                                <img src="../../../assets/ui/Icon/Cancel button.png" id="delete"
                                    style="max-width: 85px; margin-top: 10px;" />
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dialpad -->
            <br>
            <!-- <label class="big-label">Choose Fax Option</label>
            <br>
            <label class="small-label">Paper</label>
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <input id="A4" checked class="radio-custom" name="radio-group" type="radio" (change)="onPaperChange('A4')">
                    <label for="A4" class="radio-custom-label">A4</label>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <input id="A3" class="radio-custom" name="radio-group" type="radio" (change)="onPaperChange('A3')">
                    <label for="A3" class="radio-custom-label">A3</label>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <input id="B4" class="radio-custom" name="radio-group" type="radio" (change)="onPaperChange('B4')">
                    <label for="B4" class="radio-custom-label">B4</label>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <input id="B5" class="radio-custom" name="radio-group" type="radio" (change)="onPaperChange('B5')">
                    <label for="B5" class="radio-custom-label">B5</label>
                </div>
            </div>

            <label class="small-label">Slide</label>
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <input id="single_slide" checked class="radio-custom" name="radio-group2" type="radio" (change)="onSlideChange('Single Slide')">
                    <label for="single_slide" class="radio-custom-label">Single Slide</label>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <input id="double_slide" class="radio-custom" name="radio-group2" type="radio" (change)="onSlideChange('Double Slide')">
                    <label for="double_slide" class="radio-custom-label">Double Slide</label>
                </div>

            </div> -->
        </div>

        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
                    <!-- left -->
                    <label class="big-label">Preview</label>
                    <div *ngIf="selectedFaxImgs?.length > 0">
                        <img #previewImg class="preview-image" src="http://storage.myepsoft.com:53335/kioskapi/{{selectedFaxImgs[0]}}" id="preview-image">
                    </div>
                    <br>

                    <div class="direction-left">
                        <label class="small-label">Direction</label>
                        <div class="row">
                            <div class="col-sm-12 col-lg-5 col-md-5 col-xl-5">
                                <input id="vertical" checked class="radio-custom" name="radio-group3" type="radio"(change)="onDirectionChange('Vertical')">
                                <label for="vertical" class="radio-custom-label radio-pic vertical">Vertical</label>
                            </div>
                            <div class="col-sm-12 col-lg-5 col-md-5 col-xl-5">
                                <input id="horizontal" class="radio-custom" name="radio-group3" type="radio"(change)="onDirectionChange('Horizontal')">
                                <label for="horizontal"
                                    class="radio-custom-label radio-pic horizontal">Horizontal</label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
                    <!-- right -->
                    <label class="big-label payment">Payment Due</label>
                    <div class="wrapper">
                        <label class="dollar">$</label>
                        <input type="text" name="payment" class="payment-text" [value]="paymentDue">
                    </div>
                    <br>
                    <img class="mx-auto d-block start" height="200px" width="200px"  (click)="startModalWithClass(start)"
                        src="../../../../assets/ui/customized/Start button.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--Start Modal -->
<ng-template #start>
    <nav class="navbar-light bg-modal-color">
        <span type="button" style="cursor: pointer;" class="pull-left" (click)="modalRef.hide()">  
            <span aria-hidden="true" class="return-arrow"><i class="fas fa-arrow-left"></i></span>  
        </span>
        <p class="nav-title-color">Payment</p>
    </nav>
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4">
                    <p class="p-bold">Total Price: $ {{paymentDue}}</p> 
                </div>
                <div class="col-4">
                    <p class="p-bold">1 Page,mono,A4</p>
                </div>
              </div>
            <hr>
            <div class="row" style="justify-content: center;">
                <p class="p-bold">Please choose pay option and press go button for pay, if you want to keep going.</p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/Cash button.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/Card button.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/Card for copy button.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/membership button.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
            

        </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="simple-button" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="simple-button" (click)="scanUsbGo()">Go</button>
    </div>
</ng-template>